/* .myClass {
    color: white;
    background-color: blue;
    font-size: 1.3rem;
    padding: 10px;
    margin: 10px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 10px;
    width: 300px;

} */